.news-section {
  width: 100%;
  height: 100%;
  background-color: #fff;
  // display: grid;
  // place-content: center;
  padding: 75px 10px;

  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

  .heading {
    margin-bottom: 70px;
    p {
      font-size: var(--font-size-small);
      text-align: center;
      margin-bottom: 7px;
    }
    h3 {
      font-size: var(--font-size-large);
      text-align: center;
      margin-bottom: 25px;
      color: var(--color-text-dark);
      @media (max-width: 768px) {
     
        font-size: var(--font-size-medium);
      margin-bottom: 5px;

      
      // font-size: var(--font-size-small);

    }
    }
  }

  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .align-items-center {
    align-items: center !important;
  }
  .newsSidebarContainer {
    flex: 0 0 auto;
    width: 33.33333333%;

    @media (max-width: 425px) {
      width: 100%;
    }

    .news-sidebar-card {
      width: 100%;
      height: 100%;
      background-color: #fff;
      padding: 15px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      margin-bottom: 15px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      color: var(--color-text-dark);

      @media (max-width: 1024px) {
        // justify-content: center;
      }

      .news-sidebar-card-heading {
        font-size: var(--font-size-small);
        text-align: center;
        margin-bottom: 25px;
        display: flex;
        color: var(--color-text-dark);
        justify-content: center;
        align-items: center;
      }
      .news-sidebar-card-text-wrapper {
        width: 70%;

        @media (max-width: 768px) {
          width: 100%;
        }
      }
      .news-sidebar-card-main {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
      }
      .news-sidebar-card-title {
        //   font-size: var(--font-size-medium);
        text-align: center;
        font-size: 20px;
        //   margin-bottom: 25px;
        color: var(--color-text-dark);
        word-wrap: break-word;
      }
    }
  }
  .newsCardContainer {
    flex: 0 0 auto;
    width: 66.66666667%;

    @media (max-width: 425px) {
      width: 100%;
    }
    // margin-left: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  //
}
